input[type=text] {
    color: blue;
}

.control-buttons {
    padding: 5px;
    margin: 10px;
}

.control-buttons div {
    width: 100px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    margin: 2px 5px;
    -webkit-box-shadow: -1px 2px 14px -1px rgba(156, 167, 240, 1);
    -moz-box-shadow: -1px 2px 14px -1px rgba(156, 167, 240, 1);
    box-shadow: -1px 2px 14px -1px rgba(156, 167, 240, 1);
}

.control-buttons div:hover {
    -webkit-box-shadow: -1px 2px 14px -1px rgba(83, 101, 224, 1);
    -moz-box-shadow: -1px 2px 14px -1px rgba(83, 101, 224, 1);
    box-shadow: -1px 2px 14px -1px rgba(83, 101, 224, 1);
}

.control-buttons .delete-btn {
    background-color: rgb(243, 139, 139);
}

.control-buttons .edit-btn {
    background-color: rgb(230, 188, 110);
}