<div class="row justify-content-center md-3">
    <div class="col-4 text-center mt-5">
        <h1>Todos</h1>
        <p class="text-info">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <form action="" class="form-group">
            <div class="d-flex mt-4">
                <div class="form-group flex-grow-1 mr-2">
                    <input type="text" placeholder="Add New Todoes" name="todoName"
                        class="form-control rounded-0">
                </div>
                <button type="submit" class="btn btn-primary btn-todo">Add Todo</button>
            </div>
        </form>
    </div>
</div>
<div class="row todoContainer px-5">
    <div class="card mt-2">
        <div class="card-body">
            <h5 class="card-title">Task Title</h5>
            <p class="card-text">Task description goes here. This can be a brief overview of what needs to be done.</p>
            <div class="btn-group" role="group" aria-label="Task Actions">
                <button type="button" class="btn btn-primary">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>